body {
font-family: Helvetica;
background-color: white;
text-align: center;
}

.image {
background-image: url('../the-flatiron-building.png');
background-position: center;
background-position: top;
background-repeat: no-repeat;
}

h1 {
font-size: 70px;
font-weight: bold;
color: white;
 }

 h2 {
 font-size: 32px;
 font-weight: bold;
 color: black;
  }

  h3 {
  font-size: 23px;
  font-weight: bold;
  color: black;
   }

  h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('../the-flatiron-building.png');
   }

p {
  font-size: 14px;
  color: black;
   }

.nav {
  font-size: 18px;
  color: white;
  text-decoration: underline;
  }

  .footer  {
    text-align: left;
    font-size: 11pt;
    color: white;
    background-color: dimgray;
    }
